name: Deploy to Server

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy using ssh
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          script: |
            echo "Starting deployment..."
            cd /home/sw/WaterMarking-Lab
            git pull origin main
            
            echo "Rebuilding and restarting Docker containers..."
            cd backend
            sudo docker-compose down
            sudo docker-compose up -d --build
            
            echo "Cleaning up unused images..."
            sudo docker image prune -f
            echo "Deployment finished successfully!"
